<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
        
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>APPE</title>
    <link rel='stylesheet' href='/css/main.min.css'>
        
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
        
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    <div class="page-wrap">
        <header>
            <div class="container-fluid">
                <div class="row">
                    <a href="http://grupo.us.es/atlas" class="logo">
                        <img src="/img/appe_cab.png">
                    </a>
                    <nav>
                    <ul>
                        <li data-menu="home" class="selected">
                            <a href="/es/home" jslink><lang>Inicio</lang></a>
                        </li>
                        <li data-menu="staff">
                            <a href="/es/staff" jslink><lang>Personal</lang></a>
                        </li>
                        <li data-menu="publications">
                            <a href="/es/publications" jslink><lang>Publicaciones</lang></a>
                        </li>
                        <li data-menu="map">
                            <a href="/es/map" jslink><lang>APPE</lang></a>
                        </li>
                    </ul>
                    </nav>   
                </div>  
            </div>
        </header>
        <main></main>
        <div id="map"></div>
        <div id="container_feature_info"><lang>Cargando...</lang></div>
    </div>
    <footer>
        <div class="container">
            <div class="col-md-8 col-sm-8">
                <p>
                <span><lang>Nuevas tecnologías aplicadas al estudio de la movilidad e intercambio: cuentas verdes y cerámica decorada con rellenos blancos del VI al II Milenio ane en la Península Ibérica desde una perspectiva multidisciplinar(HAR2012­34620) </lang></span>
                <a href="mailto:codriozola@us.es" target="_blank">  codriozola@us.es</a>
                (34)954551415
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p>Financiado por: <img src="/img/minec.jpg"></p>
            </div>
        </div>
    </footer>
</body>
</html>

