<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
        
    <link rel="shortcut icon" href="/img/favicon.png">

    <title><lang>Índice Elcano de Presencia Global - Administración</lang></title>
    <link rel='stylesheet' href='/css/main.min.css'>
        
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
        
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <a href="http://grupo.us.es/atlas" class="logo">
                    <img src="/img/logo.png">
                </a>   
            </div>  
        </div>
         <nav>
            <ul>
                <li>
                    <a href="/<lang>lang</lang>/<lang>_link home</lang>" jslink><lang>Inicio</lang></a>
                </li>
                <li>
                    <a href="/<lang>lang</lang>/<lang>_link home</lang>" jslink><lang>Proyecto</lang></a>
                </li>
            </ul>
        </nav>
    </header>
    <main></main>
    <div id="map"></div>
    <footer>
        <lang>© 2014 Departamento de Prehistoria y Arqueología - Facultad de Geografía e Historia - Universidad de Sevilla&nbsp;María de Padilla s/n. 41004. Sevilla (Spain) | Tfno: (34) 954551411 | Fax: (34) 954559920</lang>
    </footer>
</body>
</html>

