<section class="container">
<h1>Personal</h1>
<img src="/img/staff.jpg" class="pull-left">
<ul>
	<li><h2>Carlos P. Odriozola Lloret (Investigador Principal)</h2>
		<p>Dpto. de Prehistoria y Arqueología. Universidad de Sevilla.</p></li>

	<li><h2>Rodrigo Villalobos García</h2>
		<p>Dpto. de Prehistoria, Arqueología, Antropología Social y Ciencias y Técnicas Historiográficas.</p></li>

	<li><h2>Rui Narciso Boaventura</h2>
		<p>UNIARQ. Universidade de Lisboa</p></li>

	<li><h2>Ana Catarina Sousa da Freitas</h2>
		<p>UNIARQ. Universidade de Lisboa</p></li>

	<li><h2>José María Martínez Blanes</h2>
		<p>Instituto de Ciencia de Materiales de Sevilla. Centro Mixto Universidad de Sevilla-CSIC</p></li>
</li>
</ul>
<div class="cleaner"></div>
</section>